package ${basePackage}.scaffolding;

import java.util.List;

public class Page<T> {
	private final int pageNum;
	private final int pageSize;
	private final int pageCount;
	private final int totalCount;
	private final List<T> list;

	public Page(int pageNum, int pageSize, int totalCount, List<T> list) {
		this.pageNum = pageNum;
		this.pageSize = pageSize;
		this.totalCount = totalCount;
		this.pageCount = (totalCount + pageSize - 1) / pageSize;
		this.list = list;
	}

	public int getPageNum() {
		return pageNum;
	}

	public int getPageSize() {
		return pageSize;
	}

	public int getPageCount() {
		return pageCount;
	}

	public int getTotalCount() {
		return totalCount;
	}

	public List<T> getList() {
		return list;
	}
}


