#####  mysql config ###############################################################################
spring.datasource.type=com.zaxxer.hikari.HikariDataSource
spring.datasource.url=${dbUrl}?useUnicode=true&amp;characterEncoding=utf-8;&useSSL=false
spring.datasource.username=${dbUserName}
spring.datasource.password=${dbPassword}
spring.datasource.driver-class-name=com.mysql.jdbc.Driver

#####  log config #################################################################################
logging.config=classpath:log4j2-dev.xml
logging.level.cn.com.hfbank.service.qxbox.mapper=TRACE
logging.level.org.springframework.web=DEBUG