<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 是否启用 数据中 a_column 自动映射 到 java类中驼峰命名的属性。[默认:false] -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
#foreach ($mybatisMapper in $mybatisMapperList)
        <typeAlias alias="${mybatisMapper.tableNameClass}Po" type="${basePackage}#if(${mybatisMapper.modleName.length()} > 0).${mybatisMapper.modleName}#end.${layer.layerNamePo}.${mybatisMapper.tableNameClass}Po"/>
#end
	</typeAliases>
    <mappers>
#foreach ($mybatisMapper in $mybatisMapperList)
        <mapper resource="mapper/${mybatisMapper.tableNameClass}.xml" />
#end
    </mappers>
</configuration>