package ${systemPackage}.biz;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${systemPackage}.dao.${tableNameClass}Dao;
import ${systemPackage}.po.${tableNameClass}Po;
import ${basePackage}.util.Page;
import ${basePackage}.util.PageUtil;
import ${basePackage}.restful.RestfulParam;

@Service
public class ${tableNameClass}Biz {
	@Autowired
	private ${tableNameClass}Dao ${tableNameVariable}Dao;

	public void save(RestfulParam restfulParam) {
		${tableNameClass}Po ${tableNameVariable}Po = new ${tableNameClass}Po();
#foreach ($column in $columnList)
		${tableNameVariable}Po.set${column.columnName}(restfulParam.get${column.columnType}("${column.columnNameVariable}"));
#end
		${tableNameVariable}Dao.insert(${tableNameVariable}Po);
	}
#if($primaryKey)

	public void updateBy${primaryKey.pkName}(RestfulParam restfulParam) {
		${tableNameClass}Po ${tableNameVariable}Po = new ${tableNameClass}Po();
#foreach ($column in $columnList)
		${tableNameVariable}Po.set${column.columnName}(restfulParam.get${column.columnType}("${column.columnNameVariable}"));
#end
		${tableNameVariable}Dao.updateBy${primaryKey.pkName}(${tableNameVariable}Po);
	}

	public void deleteBy${primaryKey.pkName}(RestfulParam restfulParam) {
		${tableNameVariable}Dao.deleteBy${primaryKey.pkName}(restfulParam.get${primaryKey.pkType}("${primaryKey.pkNameVariable}"));
	}

	public ${tableNameClass}Po queryBy${primaryKey.pkName}(RestfulParam restfulParam) {
		return ${tableNameVariable}Dao.selectBy${primaryKey.pkName}(restfulParam.get${primaryKey.pkType}("${primaryKey.pkNameVariable}"));
	}
#end

	public List<${tableNameClass}Po> queryAll(RestfulParam restfulParam) {
		return ${tableNameVariable}Dao.selectAll(restfulParam.getMap());
	}

	public Page<${tableNameClass}Po> queryForPage(RestfulParam restfulParam) {
		int pageNum = restfulParam.getInteger("pageNum");
		Map<String, Object> paramMap = restfulParam.getMap();
		paramMap.put("pageSize", PageUtil.DEFAULT_PAGE_SIZE);
		paramMap.put("startIndex", PageUtil.computeStartIndex(pageNum));
		int totalCount = ${tableNameVariable}Dao.selectForPageTotalCount(paramMap);
		List<${tableNameClass}Po> ${tableNameVariable}PoList = ${tableNameVariable}Dao.selectForPage(paramMap);
		return new Page<>(pageNum, PageUtil.DEFAULT_PAGE_SIZE, totalCount, ${tableNameVariable}PoList);
	}
}
