#set ($columnMaxIndex = $columnSize - 1)
#set ($columnLastButOneIndex = $columnSize - 2)
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${tableNameClass}Po">

	<resultMap id="${tableNameClass}PoMap" type="${tableNameClass}Po">
#foreach ($column in $columnList)
		<result property="${column.columnNameVariable}" column="${column.columnNameDb}" />
#end
	</resultMap>

	<insert id="insert" parameterType="${tableNameClass}Po" useGeneratedKeys="true" #if ($primaryKey)keyProperty="id"#end>
		INSERT INTO $tableNameDb
		VALUES(#foreach($index in [0..$columnLastButOneIndex])#{${columnList.get($index).columnNameVariable}}, #end#{${columnList.get($columnMaxIndex).columnNameVariable}})
	</insert>
#if($primaryKey)

	<update id="updateBy${primaryKey.pkName}" parameterType="${tableNameClass}Po">
		UPDATE $tableNameDb 
		SET 
			#foreach($index in [0..$columnLastButOneIndex])${columnList.get($index).columnNameDb} = #{${columnList.get($index).columnNameVariable}},
			#end${columnList.get(${columnMaxIndex}).columnNameDb} = #{${columnList.get(${columnMaxIndex}).columnNameVariable}}
		WHERE ${primaryKey.pkNameDb} = #{${primaryKey.pkNameVariable}}
	</update>
	
	<delete id="deleteBy${primaryKey.pkName}" parameterType="${primaryKey.pkType}">
		DELETE FROM $tableNameDb WHERE ${primaryKey.pkNameDb} = #{${primaryKey.pkNameVariable}}
	</delete>

	<select id="selectBy${primaryKey.pkName}" parameterType="${primaryKey.pkType}" resultMap="${tableNameClass}PoMap">
		SELECT * FROM $tableNameDb WHERE ${primaryKey.pkNameDb} = #{${primaryKey.pkNameVariable}}
	</select>
#end

	<select id="selectAll" parameterType="Map" resultMap="${tableNameClass}PoMap" >
		SELECT * 
		FROM $tableNameDb 
		<where>
#foreach($column in $columnList)
			<if test="_parameter.containsKey('${column.columnNameVariable}')">
				AND ${column.columnNameDb} = #{${column.columnNameVariable}}
			</if>
#end
		</where>
	</select>
	
	<select id="selectForPage" parameterType="Map" resultMap="${tableNameClass}PoMap">
		SELECT * 
		FROM $tableNameDb 
		<where>
#foreach($column in $columnList)
			<if test="${column.columnNameVariable} != null and  ${column.columnNameVariable} != ''">
				AND ${column.columnNameDb} = #{${column.columnNameVariable}}
			</if>
#end
		</where>
#if($primaryKey)
		ORDER BY $primaryKey.pkNameDb DESC
#end
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<select id="selectForPageTotalCount" parameterType="Map" resultType="Integer">
		SELECT COUNT(1) 
		FROM $tableNameDb 
		<where>
#foreach($column in $columnList)
			<if test="${column.columnNameVariable} != null and  ${column.columnNameVariable} != ''">
				AND ${column.columnNameDb} = #{${column.columnNameVariable}}
			</if>
#end
		</where>
	</select>
</mapper>