package ${systemPackage}.biz;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${systemPackage}.dao.${tableNameClass}Dao;
import ${systemPackage}.po.${tableNameClass}Po;
import ${basePackage}.scaffolding.Page;
import ${basePackage}.scaffolding.RestfulParam;

@Service
public class ${tableNameClass}Biz {
	@Autowired
	private ${tableNameClass}Dao ${tableNameVariable}Dao;

	public void create(RestfulParam restfulParam) {
		${tableNameClass}Po ${tableNameVariable}Po = new ${tableNameClass}Po();
#foreach ($column in $columnList)
		${tableNameVariable}Po.set${column.columnName}(restfulParam.get${column.columnType}("${column.columnNameVariable}"));
#end
		${tableNameVariable}Dao.insert(${tableNameVariable}Po);
	}
#if($primaryKey)

	public void updateBy${primaryKey.pkName}(RestfulParam restfulParam) {
		${tableNameClass}Po ${tableNameVariable}Po = new ${tableNameClass}Po();
#foreach ($column in $columnList)
		${tableNameVariable}Po.set${column.columnName}(restfulParam.get${column.columnType}("${column.columnNameVariable}"));
#end
		${tableNameVariable}Dao.updateBy${primaryKey.pkName}(${tableNameVariable}Po);
	}

	public void deleteBy${primaryKey.pkName}(RestfulParam restfulParam) {
		${tableNameVariable}Dao.deleteBy${primaryKey.pkName}(restfulParam.get${primaryKey.pkType}("${primaryKey.pkNameVariable}"));
	}

	public ${tableNameClass}Po queryBy${primaryKey.pkName}(RestfulParam restfulParam) {
		return ${tableNameVariable}Dao.selectBy${primaryKey.pkName}(restfulParam.get${primaryKey.pkType}("${primaryKey.pkNameVariable}"));
	}
#end

	public List<${tableNameClass}Po> queryAll(RestfulParam restfulParam) {
		return ${tableNameVariable}Dao.selectAll(restfulParam.getMap());
	}

	public Page<${tableNameClass}Po> queryForPage(RestfulParam restfulParam) {
		int pageNum = restfulParam.getInteger("pageNum");
		return ${tableNameVariable}Dao.selectForPage(restfulParam.getMap(), pageNum);
	}
}
