<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
#foreach ($mybatisMapper in $mybatisMapperList)
        <typeAlias alias="${mybatisMapper.tableNameClass}Po" type="${basePackage}#if(${mybatisMapper.modleName.length()} > 0).${mybatisMapper.modleName}#end.po.${mybatisMapper.tableNameClass}Po"/>
#end
	</typeAliases>
    <mappers>
#foreach ($mybatisMapper in $mybatisMapperList)
        <mapper resource="mapper/${mybatisMapper.tableNameClass}.xml" />
#end
    </mappers>
</configuration>