#set ($columnMaxIndex = $columnSize - 1)
#set ($columnLastButOneIndex = $columnSize - 2)
#if($primaryKey)
    #set ($startIndex = 1)
#else
    #set ($startIndex = 0)
#end
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${systemPackage}.${layer.layerNameDao}.${tableNameClass}${layer.classSuffixDao}">

    <!-- TODO 作为实例使用，已经配置了 "mapUnderscoreToCamelCase"，开发后请删除此 MAP 映射 -->
    <resultMap id="${tableNameClass}${layer.classSuffixPo}Map" type="${tableNameClass}${layer.classSuffixPo}">
#foreach ($column in $columnList)
        <result property="${column.columnNameVariable}" column="${column.columnNameDb}" />
#end
    </resultMap>

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <insert id="insert" parameterType="${tableNameClass}${layer.classSuffixPo}" #if ($primaryKey)useGeneratedKeys="true" keyProperty="${primaryKey.pkNameVariable}"#end>
        INSERT INTO $tableNameDb
            (
#foreach($index in [$startIndex..$columnLastButOneIndex])
                ${columnList.get($index).columnNameDb},
#end
                ${columnList.get($columnMaxIndex).columnNameDb}
            )
        VALUES
            (
#foreach($index in [$startIndex..$columnLastButOneIndex])
                #{${columnList.get($index).columnNameVariable}},
#end
                #{${columnList.get($columnMaxIndex).columnNameVariable}}
            )
    </insert>

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <insert id="inserts" parameterType="list" #if ($primaryKey)useGeneratedKeys="true" keyProperty="${primaryKey.pkNameVariable}"#end>
        INSERT INTO $tableNameDb
            (
#foreach($index in [$startIndex..$columnLastButOneIndex])
                ${columnList.get($index).columnNameDb},
#end
                ${columnList.get($columnMaxIndex).columnNameDb}
            )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
#foreach($index in [$startIndex..$columnLastButOneIndex])
                #{item.${columnList.get($index).columnNameVariable}},
#end
                #{item.${columnList.get($columnMaxIndex).columnNameVariable}}
            )
        </foreach>
    </insert>
#if($primaryKey)

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <update id="updateBy${primaryKey.pkName}" parameterType="${tableNameClass}${layer.classSuffixPo}">
        UPDATE $tableNameDb
        <set>
#foreach($index in [$startIndex..$columnMaxIndex])
            <if test=" ${columnList.get(${index}).columnNameVariable} != null"> ${columnList.get(${index}).columnNameDb} = #{${columnList.get(${index}).columnNameVariable}},</if>
#end
        </set>
        WHERE ${primaryKey.pkNameDb} = #{${primaryKey.pkNameVariable}}
    </update>

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <delete id="deleteBy${primaryKey.pkName}" parameterType="${primaryKey.pkType}">
        DELETE FROM $tableNameDb WHERE ${primaryKey.pkNameDb} = #{${primaryKey.pkNameVariable}}
    </delete>

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <select id="selectBy${primaryKey.pkName}" parameterType="${primaryKey.pkType}" resultType="${tableNameClass}${layer.classSuffixPo}">
        SELECT
#foreach($index in [0..$columnLastButOneIndex])
            ${columnList.get($index).columnNameDb},
#end
            ${columnList.get($columnMaxIndex).columnNameDb}
        FROM $tableNameDb WHERE ${primaryKey.pkNameDb} = #{${primaryKey.pkNameVariable}}
    </select>
#end

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <select id="selectAll" parameterType="map" resultType="${tableNameClass}${layer.classSuffixPo}" >
        SELECT
#foreach($index in [0..$columnLastButOneIndex])
            ${columnList.get($index).columnNameDb},
#end
            ${columnList.get($columnMaxIndex).columnNameDb}
        FROM $tableNameDb 
        <where>
#foreach($column in $columnList)
            <if test="_parameter.containsKey('${column.columnNameVariable}')">
                AND ${column.columnNameDb} = #{${column.columnNameVariable}}
            </if>
#end
        </where>
    </select>

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <select id="countForPage" parameterType="map" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM $tableNameDb
        <where>
#foreach($column in $columnList)
                <if test="${column.columnNameVariable} != null and ${column.columnNameVariable} != ''">
                    AND ${column.columnNameDb} = #{${column.columnNameVariable}}
                </if>
#end
        </where>
    </select>

    <!-- TODO 如不使用，开发后请删除此 SQL -->
    <select id="selectForPage" parameterType="map" resultType="${tableNameClass}${layer.classSuffixPo}">
        SELECT
#foreach($index in [0..$columnLastButOneIndex])
                ${columnList.get($index).columnNameDb},
#end
                ${columnList.get($columnMaxIndex).columnNameDb}
        FROM $tableNameDb 
        <where>
#foreach($column in $columnList)
            <if test="paramMap.${column.columnNameVariable} != null and paramMap.${column.columnNameVariable} != ''">
                AND ${column.columnNameDb} = #{paramMap.${column.columnNameVariable}}
            </if>
#end
        </where>
#if($primaryKey)
        ORDER BY $primaryKey.pkNameDb DESC
#end
        LIMIT #{startIndex}, #{pageSize}
    </select>
</mapper>