package ${systemPackage}.dao;

import java.util.List;
import java.util.Map;

import org.springframework.stereotype.Repository;

import ${systemPackage}.ent.${tableNameClass};
import ${basePackage}.util.BaseDao;
import ${basePackage}.util.Constant;
import ${basePackage}.util.Page;

@Repository
public class ${tableNameClass}Dao extends BaseDao {

	public void insert(${tableNameClass} ${tableNameVariable}) {
		sqlSessionWriter.insert("${tableNameClass}.insert", ${tableNameVariable});
	}
#if($primaryKey)

	public ${primaryKey.pkType} insertReturn${primaryKey.pkName}(${tableNameClass} ${tableNameVariable}) {
		sqlSessionWriter.insert("${tableNameClass}.insert", ${tableNameVariable});
		return ${tableNameVariable}.get${primaryKey.pkName}();
	}

	public void updateBy${primaryKey.pkName}(${tableNameClass} ${tableNameVariable}) {
		sqlSessionWriter.update("${tableNameClass}.updateBy${primaryKey.pkName}", ${tableNameVariable});
	}

	public void deleteBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable}) {
		sqlSessionWriter.delete("${tableNameClass}.deleteBy${primaryKey.pkName}", ${primaryKey.pkNameVariable});
	}

	public ${tableNameClass} selectBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable}) {
		return sqlSessionReader.selectOne("${tableNameClass}.selectBy${primaryKey.pkName}", ${primaryKey.pkNameVariable});
	}
#end

	public List<${tableNameClass}> selectAll(Map<String, Object> paramMap) {
		return sqlSessionReader.selectList("${tableNameClass}.selectAll", paramMap);
	}

	public <T> Page<T> selectForPage(Map<String, Object> paramMap, int pageNum) {
		paramMap.put("pageSize", Constant.DEFAULT_PAGE_SIZE);
		paramMap.put("startIndex", getStartIndex(pageNum, Constant.DEFAULT_PAGE_SIZE));
		List<T> list = sqlSessionReader.selectList("${tableNameClass}.selectPage", paramMap);
		int totalCount = sqlSessionReader.selectOne("${tableNameClass}.selectPageTotalCount", paramMap);
		return new Page<T>(pageNum, Constant.DEFAULT_PAGE_SIZE, totalCount, list);
	}
}
