package ${systemPackage}.biz;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${systemPackage}.dao.${tableNameClass}Dao;
import ${systemPackage}.ent.${tableNameClass};
import ${basePackage}.util.Page;

@Service
public class ${tableNameClass}Biz {
	@Autowired
	private ${tableNameClass}Dao ${tableNameVariable}Dao;

	public void save(${tableNameClass} ${tableNameVariable}) {
		${tableNameVariable}Dao.insert(${tableNameVariable});
	}
#if($primaryKey)

	public void updateBy${primaryKey.pkName}(${tableNameClass} ${tableNameVariable}) {
		${tableNameVariable}Dao.updateBy${primaryKey.pkName}(${tableNameVariable});
	}

	public void deleteBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable}) {
		${tableNameVariable}Dao.deleteBy${primaryKey.pkName}(${primaryKey.pkNameVariable});
	}

	public ${tableNameClass} queryBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable}) {
		return ${tableNameVariable}Dao.selectBy${primaryKey.pkName}(${primaryKey.pkNameVariable});
	}
#end

	public List<${tableNameClass}> queryAll() {
		return ${tableNameVariable}Dao.selectAll(new HashMap<String, Object>());
	}

	public Page<${tableNameClass}> queryForPage(Map<String, Object> paramMap, int pageNum) {
		return ${tableNameVariable}Dao.selectForPage(paramMap, pageNum);
	}
}
