#####  mysql config ###############################################################################
spring.datasource.type=com.zaxxer.hikari.HikariDataSource
spring.datasource.url=${dbUrl}?useUnicode=true&characterEncoding=utf-8&useSSL=false
spring.datasource.username=${dbUserName}
spring.datasource.password=${dbPassword}
spring.datasource.driver-class-name=com.mysql.jdbc.Driver

#####  log config #################################################################################
logging.config=classpath:log4j2-dev.xml
logging.level.${basePackage}=DEBUG

server.tomcat.basedir=.
server.tomcat.accesslog.directory=logs
server.tomcat.accesslog.prefix=tomcat-access
server.tomcat.accesslog.enabled=true
server.tomcat.accesslog.pattern= %t [%I] %a %{X-Forwarded-For}i %r %s %D