package ${basePackage}.common;

public class BasicConstant {
    public static final char CHAR_TAB = '\t';
    public static final char CHAR_ENTER = '\n';
    public static final char CHAR_SOH = '\u0001';

    public static final char CHAR_DOT = '.';
    public static final char CHAR_COMMA = ',';
    public static final char CHAR_PLUS = '+';
    public static final char CHAR_MINUS = '-';
    public static final char CHAR_EQUALS = '=';
    public static final char CHAR_UNDERLINE = '_';

    public static final char CHAR_COLON = ':';
    public static final char CHAR_QUESTION = '?';
    public static final char CHAR_SEMICOLON = ';';
    public static final char CHAR_LESS_THAN = '<';
    public static final char CHAR_MORE_THAN = '>';
    public static final char CHAR_VERTICAL_BAR = '|';
    public static final char CHAR_EXCLAMATION_POINT = '!';
    public static final char CHAR_SINGLE_QUOTATION = '\'';
    public static final char CHAR_DOUBLE_QUOTATION = '\"';

    public static final char CHAR_AT = '@';
    public static final char CHAR_CARET = '^';
    public static final char CHAR_POUND = '#';
    public static final char CHAR_DOLLAR = '$';
    public static final char CHAR_PERCENT = '%';
    public static final char CHAR_ASTERISK = '*';
    public static final char CHAR_AMPERSAND = '&';
    public static final char CHAR_SEPARATION = '·';
    public static final char CHAR_SWUNG_DASH = '~';

    public static final char CHAR_SLASH = '/';
    public static final char CHAR_BACKSLASH = '\\';

    public static final char CHAR_ROUND_BRACKETS_LEFT = '(';
    public static final char CHAR_ROUND_BRACKETS_RIGHT = ')';
    public static final char CHAR_SQUARE_BRACKETS_LEFT = '[';
    public static final char CHAR_SQUARE_BRACKETS_RIGHT = ']';
    public static final char CHAR_CURLY_BRACKETS_LEFT = '{';
    public static final char CHAR_CURLY_BRACKETS_RIGHT = '}';


    public static final String STR_EMPTY = "";
    public static final String STR_TAB = "\t";
    public static final String STR_ENTER = "\n";
    public static final String STR_SOH = "\u0001";

    public static final String STR_DOT = ".";
    public static final String STR_COMMA = ",";
    public static final String STR_PLUS = "+";
    public static final String STR_MINUS = "-";
    public static final String STR_EQUALS = "=";
    public static final String STR_UNDERLINE = "_";

    public static final String STR_COLON = ":";
    public static final String STR_QUESTION = "?";
    public static final String STR_SEMICOLON = ";";
    public static final String STR_LESS_THAN = "<";
    public static final String STR_MORE_THAN = ">";
    public static final String STR_VERTICAL_BAR = "|";
    public static final String STR_EXCLAMATION_POINT = "!";
    public static final String STR_SINGLE_QUOTATION = "\'";
    public static final String STR_DOUBLE_QUOTATION = "\"";

    public static final String STR_AT = "@";
    public static final String STR_CARET = "^";
    public static final String STR_POUND = "#";
    public static final String STR_DOLLAR = "$";
    public static final String STR_PERCENT = "%";
    public static final String STR_ASTERISK = "*";
    public static final String STR_AMPERSAND = "&";
    public static final String STR_SEPARATION = "·";
    public static final String STR_SWUNG_DASH = "~";

    public static final String STR_SLASH = "/";
    public static final String STR_BACKSLASH = "\\";

    public static final String STR_ROUND_BRACKETS_LEFT = "(";
    public static final String STR_ROUND_BRACKETS_RIGHT = ")";
    public static final String STR_SQUARE_BRACKETS_LEFT = "[";
    public static final String STR_SQUARE_BRACKETS_RIGHT = "]";
    public static final String STR_CURLY_BRACKETS_LEFT = "{";
    public static final String STR_CURLY_BRACKETS_RIGHT = "}";

    public static final String REGEX_STR_VERTICAL_BAR = "\\|";

    public static final String DATE_FRM_YYYY_MM_DD_HH_MI_SS = "yyyy-MM-dd HH:mm:ss";



}
