package ${systemPackage}.ent;

public class $tableNameClass {
#foreach ($column in $columnList) 
	private ${column.columnType} ${column.columnNameVariable};
#end
#foreach ($column in $columnList)

	public ${column.columnType} get${column.columnName}() {
		return ${column.columnNameVariable};
	}
	
	public void set${column.columnName}(${column.columnType} ${column.columnNameVariable}) {
		this.${column.columnNameVariable} = ${column.columnNameVariable};
	}
#end
}

