package ${basePackage}.common;

/**
 * 基础的业务代码枚举
 */
public enum BasicBizEnum {
    /**
     * c
     */
    SUCCESS("00", "成功");

    private String code;
    private String desc;

    BasicBizEnum(String code, String desc) {
        this.code = code;
        this.desc = desc;
    }

    public String getCode() {
        return code;
    }

    public String getDesc() {
        return desc;
    }
}
