package ${systemPackage}.${layer.layerNameBiz};

import org.springframework.stereotype.Service;
import ${basePackage}.common.Page;
import ${systemPackage}.${layer.layerNameDao}.${tableNameClass}${layer.classSuffixDao};
import ${systemPackage}.${layer.layerNamePo}.${tableNameClass}${layer.classSuffixPo};

import javax.annotation.Resource;
import java.util.List;
import java.util.Map;

import static org.springframework.beans.support.PagedListHolder.DEFAULT_PAGE_SIZE;

@Service
public class ${tableNameClass}${layer.classSuffixBiz} {
    @Resource
    private ${tableNameClass}${layer.classSuffixDao} ${tableNameVariable}${layer.classSuffixDao};

    public boolean create(${tableNameClass}${layer.classSuffixPo} ${tableNameVariable}${layer.classSuffixPo}) {
        //TODO 如不使用，开发后请删除此方法
        return ${tableNameVariable}${layer.classSuffixDao}.insert(${tableNameVariable}${layer.classSuffixPo}) > 0;
    }
#if($primaryKey)

    public boolean updateBy${primaryKey.pkName}(${tableNameClass}${layer.classSuffixPo} ${tableNameVariable}${layer.classSuffixPo}) {
        //TODO 如不使用，开发后请删除此方法
        return ${tableNameVariable}${layer.classSuffixDao}.updateBy${primaryKey.pkName}(${tableNameVariable}${layer.classSuffixPo}) > 0;
    }

    public boolean removeBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable}) {
        //TODO 如不使用，开发后请删除此方法
        return ${tableNameVariable}${layer.classSuffixDao}.deleteBy${primaryKey.pkName}(${primaryKey.pkNameVariable}) > 0;
    }

    public ${tableNameClass}${layer.classSuffixPo} getBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable}) {
        //TODO 如不使用，开发后请删除此方法
        return ${tableNameVariable}${layer.classSuffixDao}.selectBy${primaryKey.pkName}(${primaryKey.pkNameVariable});
    }
#end

    public List<${tableNameClass}${layer.classSuffixPo}> list(Map<String, Object> paramMap) {
        //TODO 如不使用，开发后请删除此方法
        return ${tableNameVariable}${layer.classSuffixDao}.selectAll(paramMap);
    }

    public Page<${tableNameClass}${layer.classSuffixPo}> listForPage(Map<String, Object> paramMap, int pageNum) {
        //TODO 如不使用，开发后请删除此方法
        long total = ${tableNameVariable}${layer.classSuffixDao}.countForPage( paramMap );
        List<${tableNameClass}${layer.classSuffixPo}> demoPos = ${tableNameVariable}${layer.classSuffixDao}.selectForPage(paramMap, (pageNum - 1) * DEFAULT_PAGE_SIZE, DEFAULT_PAGE_SIZE);
        return new Page<>(demoPos, pageNum, DEFAULT_PAGE_SIZE, total);
    }
}