package ${systemPackage}.${layer.layerNamePo};

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.math.BigDecimal;
import java.util.Date;

@Data
public class ${tableNameClass}Po {
#foreach ($column in $columnList)
    @ApiModelProperty(value = "${column.columneRemarks}")
    private ${column.columnType} ${column.columnNameVariable};
#end

    public ${tableNameClass}Po() {
    }

}