package ${systemPackage}.${layer.layerNameDao};

import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import ${systemPackage}.${layer.layerNamePo}.${tableNameClass}${layer.classSuffixPo};

import java.util.List;
import java.util.Map;

@Mapper
public interface ${tableNameClass}${layer.classSuffixDao} {
    int insert(${tableNameClass}${layer.classSuffixPo} ${tableNameVariable}${layer.classSuffixPo});

    int inserts(List<${tableNameClass}${layer.classSuffixPo}> ${tableNameVariable}${layer.classSuffixPo}s);
#if($primaryKey)

    int updateById(${tableNameClass}${layer.classSuffixPo} ${tableNameVariable}${layer.classSuffixPo});

    int deleteBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable});

    ${tableNameClass}${layer.classSuffixPo} selectBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable});
#end

    List<${tableNameClass}${layer.classSuffixPo}> selectAll(Map<String, Object> paramMap);

    long countForPage(Map<String, Object> paramMap);

    List<${tableNameClass}${layer.classSuffixPo}> selectForPage(@Param("paramMap")Map<String, Object> paramMap, @Param("startIndex") int startIndex, @Param("pageSize")int pageSize);

}
